<div class="container">
  <app-bar></app-bar>
  <div class="info">
    <div class="left-info">
      <div class="text1">Welcome, Field Worker!</div>
      <div class="text2">{{ dateString }}</div>
    </div>
    <img src="../../assets/man.png" alt="" class="right-logo" />
  </div>
  <div class="status-text">
    <div class="blue"></div>
    <div class="text-status-text">Total</div>
    <div class="green"></div>
    <div class="text-status-text">Approved</div>
    <div class="yellow"></div>
    <div class="text-status-text">Under Review</div>
    <div class="red"></div>
    <div class="text-status-text">Rejected</div>
  </div>
  <div class="donut-chart">
    <div class="donut-center"></div>
  </div>
  <div class="comparison-chart">
    <div class="total">
      <h2>Total</h2>
      <div class="number-container">
        <div class="number">1054</div>
      </div>
    </div>
    <div class="under-review">
      <h2>Under Review</h2>
      <div class="number-container">
        <div class="number">1054</div>
      </div>
    </div>
    <div class="approved">
      <h2>Approved</h2>
      <div class="number-container">
        <div class="number">0</div>
      </div>
    </div>
    <div class="rejected">
      <h2>Rejected</h2>
      <div class="number-container">
        <div class="number">0</div>
      </div>
    </div>
  </div>
</div>
